# Node
node_modules/
.build/
.svelte-kit/
build/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Rust
target/

# OS/editor
.DS_Store
.vscode/
.idea/

# infra
**/charts/*.tgz

# env/secrets
.env
.env.integration

